*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transition: 1s;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.start-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(img/start-screen-gradient-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
  background-size: cover;
}

section {
  width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

header {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}

.logo:hover .title {
  color: #fddcc4;
}

.title {
  color: #f1cdb3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.subtitle {
  color: #ffffff;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

nav {
  width: 37%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #cdcdcd;
}

.link-start-screen {
  color: #cdcdcd;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  outline: none;
  text-decoration: none;
}

.active {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}

.link-start-screen:hover {
  color: #fafafa;
}

.not-only {
  display: flex;
  justify-content: space-between;
}

.start-screen-content {
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 253px;
  margin-bottom: 243px;
}

h1 {
  color: #ffffff;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

.start-screen-paragraph {
  color: #cdcdcd;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

button {
  width: 207px;
  height: 52px;
  background-color: #f1cdb3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  letter-spacing: 0.06em;

  color: #292929;
  transition: 1s;
}

button:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

.start-screen-puppy {
  margin-top: 90px;
}

.about-block {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 80px 208px 100px 215px;
}

.about-content {
  width: 430px;
  margin-top: 14px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.about-content-subheading {
  color: #4c4c4c;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.our-friends {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

.pets-content {
  height: 697px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pets-content-title {
  text-align: center;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-arrow {
  width: 52px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: none;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}

.cards {
  width: 83%;
  height: 435px;
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-radius: 9px;
}

.card:hover {
  cursor: pointer;
}

.card:hover .learn-more {
  background-color: #fddcc4;
}

.card-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.learn-more {
  margin-bottom: 30px;
  width: 187px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}

.get-know {
  width: 261px;
  border: none;
}

.help-block {
  display: flex;
  justify-content: center;
}

.help-content {
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.help-list {
  margin-top: 63px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: repeat(2, 1fr);
  row-gap: 60px;
}

.help-el {
  justify-self: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.help-text {
  margin-top: 25px;
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #545454;
}

.help1 {
  grid-column: 1/3;
  grid-row: 1;
}

.help2 {
  grid-column: 3/5;
  grid-row: 1;
}

.help3 {
  grid-column: 5/7;
  grid-row: 1;
}

.help4 {
  grid-column: 7/9;
  grid-row: 1;
}

.help5 {
  grid-column: 9/11;
  grid-row: 1;
}

.help6 {
  grid-column: 2/4;
  grid-row: 2;
}

.help7 {
  grid-column: 4/6;
  grid-row: 2;
}

.help8 {
  grid-column: 6/8;
  grid-row: 2;
}

.help9 {
  grid-column: 8/10;
  grid-row: 2;
}

.in-addition-block {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

.donat {
  display: flex;
  justify-content: center;
}

.donation-content {
  
  margin-top: 80px;
    margin-bottom: 111px;
  display: flex;
  justify-content: space-between;
}

.donation-dog-img {
  margin-left: -28px;
    margin-top: 10px;
}

.donation-article {
  margin-left: 29px;
}



h5 {    margin-top: 20px;
  margin-bottom: 19px;  
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.credit-card {
  width: 349px;
  height: 43px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-color: #f1cdb3;
  border-radius: 9px;
}

footer {
  display: flex;
  justify-content: center;
  background-image: url(img/footer-gradient-background.png);
  background-size: cover;
}
.contacts-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;

letter-spacing: 0.06em;
color: #F1CDB3;

}

.contact-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.contact-link {
  display: flex;
  align-items: center;
  color: #f1cdb3;
  text-decoration: none;
}

.contact-link:hover {
  color: #fde1cd;
}

.contact-icon {
  margin-right: 20px;
}


.footer-puppy {
  margin-top: 42px;
}